.DS_Store
Homework 01/.~Week1 - Customer Behavior__9399.twbr
Homework 01/Customer Behaviors (Responses).csv
Homework 01/Customer Behaviors (Responses).xlsx
Homework 01/Customer Behaviors (Responses)2.xlsx
Homework 01/Customer Behaviors type.xlsx
Homework 01/customer_behavior_cluster.csv
Homework 01/customer_behavior_consume.csv
Homework 01/customer_behavior_demographic.csv
Homework 01/customer_behavior_interest.csv
Homework 01/customer_behavior_other.csv
